<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>ShopFilter</filter-name>
        <filter-class>Filter.ShopFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShopFilter</filter-name>
        <url-pattern>/actionshop</url-pattern>
        <url-pattern>/AddFoodServlet</url-pattern>
        <url-pattern>/DeleteFoodServlet</url-pattern>
        <url-pattern>/EditFoodServlet</url-pattern>
        <url-pattern>/shop/addCategory.jsp</url-pattern>
        <url-pattern>/shop/changepass.jsp</url-pattern>
        <url-pattern>/shop/editCategory.jsp</url-pattern>
        <url-pattern>/shop/manageCategory.jsp</url-pattern>
        <url-pattern>/shop/manageFood.jsp</url-pattern>
        <url-pattern>/shop/profileShop.jsp</url-pattern>
        <url-pattern>/shop/shopHome.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/actionshop</url-pattern>
        <url-pattern>/AddFoodServlet</url-pattern>
        <url-pattern>/DeleteFoodServlet</url-pattern>
        <url-pattern>/EditFoodServlet</url-pattern>
        <url-pattern>/shop/addCategory.jsp</url-pattern>
        <url-pattern>/shop/changepass.jsp</url-pattern>
        <url-pattern>/shop/editCategory.jsp</url-pattern>
        <url-pattern>/shop/manageCategory.jsp</url-pattern>
        <url-pattern>/shop/manageFood.jsp</url-pattern>
        <url-pattern>/shop/profileShop.jsp</url-pattern>
        <url-pattern>/shop/shopHome.jsp</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/changepass</url-pattern>
        <url-pattern>/customer/changepass.jsp</url-pattern>
        <url-pattern>/customer/profile.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ActionCustomer</servlet-name>
        <servlet-class>controller.ActionCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionShop</servlet-name>
        <servlet-class>controller.ActionShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>controller.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServerlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>controller.ForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateServlet</servlet-name>
        <servlet-class>controller.ValidateServerlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServerlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>controller.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>controller.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategory</servlet-name>
        <servlet-class>controller.EditCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControl</servlet-name>
        <servlet-class>controller.DetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCart</servlet-name>
        <servlet-class>controller.deleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>controller.order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>controller.addToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeControl</servlet-name>
        <servlet-class>controller.EmployeeControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActionCustomer</servlet-name>
        <url-pattern>/actioncustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionShop</servlet-name>
        <url-pattern>/actionshop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/forget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateServlet</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/AddFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/DeleteFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategory</servlet-name>
        <url-pattern>/EditFoodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControl</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCart</servlet-name>
        <url-pattern>/delete-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeControl</servlet-name>
        <url-pattern>/employee</url-pattern>
    </servlet-mapping>
</web-app>
